<!DOCTYPE html>
    <html>
    <head>
        <title>book vs. movie</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="shortcut icon" type="image/png" href="#">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js""></script>
        <script type="text/javascript" src="script.js"></script>
    </head>
    <body>
        <div id="header">
            <form action="javascript:;" method="post" id="search_form">
                <div id="column_right">
                    <input type="text" id="search_name" placeholder="book / movie name">
                    <button type="submit" id="search_submit">search book / movie</button>
                </div>
            </form>
        </div>
        <div id="results">
            <div id="book-column">
                <div class="header">book</div>
                <div id="book">
                    <div class="rating"></div>
                    <div class="ratingCount"></div>
                    <a class="title" href="#" target="_blank"></a>
                    <div class="year"></div>
                    <div class="author"></div>
                    <div class="image"></div>
                    <button class="left">left</button>
                    <div class="resultIndex"></div> of <div class="resultCount"></div>
                    <button class="right">right</button>
                </div>
            </div>
            <div id="movie-column">
                <div class="header">movie</div>
                <div id="movie">
                    <div class="rating"></div>
                    <div class="ratingCount"></div>
                    <a class="title" href="#" target="_blank"></a>
                    <div class="year"></div>
                    <div class="director"></div>
                    <div class="image"></div>
                    <button class="left">left</button>
                    <div class="resultIndex"></div> of <div class="resultCount"></div>
                    <button class="right">right</button>
                </div>
            </div>
        </div>
    </body>
</html>
