<!DOCTYPE html>
    <html>
    <head>
        <title>book vs. movie</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="shortcut icon" type="image/png" href="#">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js""></script>
        <script type="text/javascript" src="script.js"></script>
    </head>
    <body>
        <form action="javascript:;" method="post" id="book_form">
            <div id="column_left">
                <input type="text" id="book_name" placeholder="book name">
                <button type="submit" id="book_submit">search book</button>
            </div>
        </form>
        <form action="javascript:;" method="post" id="movie_form">
            <div id="column_right">
                <input type="text" id="movie_name" placeholder="movie name">
                <button type="submit" id="movie_submit">search movie</button>
            </div>
        </form>
    </body>
</html>
